app-certificate-list{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
app-certificate-area{
  width: 50%;
  height: 75%;
  border: 1px solid #000;
}